.OrdersContainer {
    width: 80%;
    margin: 0 auto;
    min-height: 82vh;
    margin-top: 10px;
    overflow: hidden;
}

.OrdersContainer h1 {
    font-weight: 400;
    font-size: 2.6rem;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1300px) {
    .OrdersContainer {
        width: 85%;
    }
}

@media only screen and (max-width: 1100px) {
    .OrdersContainer {
        width: 95%;
    }
}

@media only screen and (max-width: 950px) {
    .OrdersContainer {
        width: 100%;
    }
}

