.Order {
    border-top: 1px solid rgb(238, 238, 238);
    display: flex;
    justify-content:space-between;
    padding: 20px;
}

.Order:hover {
    border-color: transparent;
    box-shadow: 0 0 10px 0 #bcbec0;
    cursor: pointer;
}

@media only screen and (max-width: 915px) {
    .Order {display: block;
        padding: 15px;
    }
}