.SummarySection {
    width: 35%;
    display: inline-block; 
}

.PriceSummarySection {      
    border: 1px solid #eee;    
    margin-bottom : 10px;
}

.PriceSummarySection  h4 {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.Point{
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    width: 50%;
    padding-left: 10px;
}

.Value{    
    padding: 10px;
    text-align: right;
    display: inline-block;
    width: 50%;
    padding-right: 10px;
}

@media only screen and (max-width: 830px) {
    .SummarySection {
        width: 100%;
        display: inline-block;    
    }

    .PriceSummarySection {        
        border: 1px solid #eee;
    }
}